<h3>New Site</h3>

{{#form-for model}}

  {{input title}}
  {{error-field title}}

  {{input label}}
  {{error-field label}}

  {{input identifier}}
  {{error-field identifier}}

  {{input host}}
  {{error-field host}}

  {{submit}}

{{/form-for}}