<div class="page-header">
  <h3>Edit Page</h3>
</div>

{{#form-for model}}

  {{input label}}

  {{input identifier}}

  {{input slug}}

  {{submit value=submitValue}}

  {{#link-to 'admin.pages.index' classNames='btn btn-default'}}Cancel{{/link-to}}

  <a href="#delete" class="btn btn-danger" {{action 'deleteRecord' model}}>Delete</a>

{{/form-for}}
