<h3>New Page</h3>

{{#form-for model}}

  {{input label}}
  {{error-field label}}

  {{input identifier}}
  {{error-field identifier}}

  {{input slug}}
  {{error-field slug}}

  {{submit}}

{{/form-for}}