<div class="page-header">
  <h3>Add New Page</h3>
</div>

{{#form-for model.page}}

  {{input label}}

  {{input identifier}}

  {{input slug}}

  {{input template
    as="select"
    collection="controller.model.templates"
    selection="template"
    optionValuePath="content.id"
    optionLabelPath="content.label"
    prompt="Select Template"
  }}

  {{submit}}

  {{#link-to 'admin.pages.index' classNames='btn btn-default'}}Cancel{{/link-to}}

{{/form-for}}