<div class="page-header">
  <h3>Settings</h3>
</div>

{{#form-for model}}

  {{input title}}

  {{input label}}

  {{input identifier}}

  {{input host}}

  {{input availableLocales as="multi-select2"
    content=controller.availableLocales
    prompt="Choose Available Locales"
  }}

  {{input defaultLocale as="default-locale-select"
    content=availableDefaultLocales
    optionValuePath="content.id"
    optionLabelPath="content.text"
    prompt="Choose a Default Locale"
  }}

  <div class="form-actions">
    <input type="submit" class="btn btn-primary" {{bind-attr value=controller.submitValue}} {{action 'submit'}}>
    {{#link-to 'admin.pages' classNames='btn btn-default'}}Cancel{{/link-to}}
    <a class="btn btn-danger pull-right" href="#" {{action 'openModal' 'admin/modals/confirm'}}>Delete Site</a>
  </div>

{{/form-for}}